.App {

  position: absolute;
    top: 25%;
    left: 40%;


}

.result {
  padding: 1em;
}

.resultlist {
  padding-bottom: 0.5em;

}


.resultpage {
  position: absolute;
  top: 10%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}

.w-75 {
    width: 25%!important;
    padding: 1em;

}

.btn {
  margin-bottom: 0.8em;
  height: 2em;
}

.form-control{
  height: 2em;
  /*width: em;*/
}

.intro{
  right:8%;
  font-family: fantasy;
  font-size: 1.5rem;
  justify-content:space-around;
  padding:0.5em;
}

.btn {
background-color: #1179a9;
border-color: #4CAF50;
}

.card {
  color:yellowgreen;
  border-color:  #17a2b8
}

.back{
  background-color: #1179a9;
  border-color: #4CAF50;
  margin-top: 2%;
  margin-left:45%;
}

.card-title{
  color: #0f09b0;
}

.footer {
  position: fixed;
  bottom: 0;
  left:45%;
  padding: 1rem;
  text-align: center;
  font-size: 0.9em;
}

.links{
  font-size: 0.9em;
}

/* @media (max-width:800px){
  .w-75 {
      width: 50%!important;
      padding: 1em;

  }
}

@media (max-width:720px){
  .w-75 {
      width: 60%!important;
      padding: 1em;

  }
} */
