.App {

  position: absolute;
    top: 25%;
    left: 40%;


}

.result {
  padding: 1em;
}

.resultlist {
  padding-bottom: 0.5em;

}


.resultpage {
  position: absolute;
  top: 10%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}

.w-75 {
    width: 25%!important;
    padding: 1em;

}

.btn {
  margin-bottom: 0.8em;
}

.form-control{
  height: 2.5em;
  width: 5em;
}

.intro{
  right:10%;
  font-family: fantasy;
  font-size: 1.5rem;
  justify-content:space-around;
  padding:0.5em;
}

.btn {
  background-color: #ad1b42;
}

.card {
  color:yellowgreen;
}
